@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: rajdhani;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 197, 198);
    font-weight: bold;
    letter-spacing: 1px;
    height: 122vh;;
    
}
.container {
    background-color: whitesmoke;
    height: 930px;
    width: 750px;
    margin: 100px auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%; 
    box-shadow: 2px 5px 5px 5px rgb(167, 136, 136);
    border-radius: 2px;
}
.left-side {
    display: flex;
    width: 260px;
    background-color: rgb(196, 189, 154);
    float: left;
    height: 100%;
}

.profile img{
   height: 180px;
   width: 180px;
   border-radius: 20%;
   margin-bottom: 20px;
   margin-left: 82px;
   margin-top: 30px;
   border: 5px solid rgb(48, 44, 41);
   box-shadow: 5px 7px 9px 5px rgb(134, 124, 70);
}
.profile{ 

width: 100%;
}
.name{
   padding: 5px;
   margin-left: 88px; 
   font-size: 22px;
   margin-bottom: -2px;
   margin-top: -15px;
}
.name_tittle{
    margin-left: 90px; 
    font-size: 14px;
    font-weight: 200;
    top: 10px;
 }
 .box-1{
    position: relative;
}
 .heading{
    margin-top: 20px;
    padding: 8px;
    background-color:  rgb(32, 26, 18);
    padding-left: 18px;
    text-align: left;
    margin-right: -20px;
    color: rgb(240, 242, 244);
    font-size: 18px;
 }
 .heading::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 22px;
    left: 250px;
    top: 24px;
    background-color:rgb(32, 26, 18);
    transform:rotate(56deg);
    z-index: -1;
    
 }
 .p1{
    padding-left: 7px;
    margin: 5px;
    font-size: 16px;
 }
 #icons{
    position: relative;
    top: 3px;
    font-size: 18px;
 }
 .p2{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin: 5px;
    font-size: 20px;
}
.p2 .skills-tittle{
    font-size: 16px;
}
 .percent{
    position: relative;
    width: 80%;
    height: 7px;
    background:rgb(156, 152, 148);
    border-radius: 5px;
    left: 15px;
}
.percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(14, 12, 12);
    border-radius: 5px;
}
.p3{
    font-size: 16px;
    padding-bottom: 5px;
    padding: 2px;
    margin-left: 15px;
    margin-top: -1px;
}
.icon-1{
    font-size: 18px;
    left: 5px;
}
.right-side{
    display: flex;
    float: right;
    width: 450px;
    height: 100%;
}
.box-2{
    padding: 0px 35px;
    margin: 50px;
    margin-left: 10px;
    font-size:18px;
    text-align: justify;
}
.box-3{
    padding: 0px 20px;
    margin-top: 40px;
    margin-left: -20px;
    font-size: 18px;
    text-align: justify;
}
.box-4{
    padding: 0px 20px;
    margin-top: 40px;
    margin-left: -20px;
    font-size: 18px;
    text-align: justify;
}
.p4{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 22px;
    margin-top: 5px;
}
.year{
    font-size: 19px;
    word-spacing: 2px;
    letter-spacing: 3px;
    margin-top: 10px;
}
h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}
.year span{
    color:  rgb(186, 172, 102);
    padding-left: 15px;
}